<!DOCTYPE html>
<html>
<head>
    <link rel = "icon" href ="./images/weather.png">
    <link rel = "stylesheet" href ="./css/style.css">
    <script src="./js/app.js" defer></Script>
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <form>
        <input type="text" placeholder="Location">
        <button>
            search
        </button>
    </form>
    <div class="boxing">
    <p id="msg-1"> </p>
   <p id="msg-2"> </p>
   </div>
    </div>
    {{>footer}}
</body>
</html>